<div class="card">
  <header id="header">
    <div class="header-content">
      <div class="dot">
<<<<<<< HEAD
<<<<<<< HEAD
        <%= image_tag ("dot_image.png"), :class => "dot-img" %>
      </div>
      <div class="title">
        <h1>Check in/out</h1>
      </div>     
      <%= link_to 'Home', '/' %>
      <%= link_to 'Admin', "/pages/admin" %>
=======
=======
>>>>>>> 132b374931ce7a2b848d49187dfa9c4bdefc3bda
        <%= image_tag ("dot_image"), :class => "dot-img" %>
      </div>
      <div class="title">
        <h1>Check in/out</h1>
      </div>
      <!--<a href="/index.html">Home</a>-->
      <%= link_to 'Home', 'root' %>
      <%= link_to 'Admin', "/layouts/admin" %>
<<<<<<< HEAD
>>>>>>> c4cabd3 (backup with devise)
=======
>>>>>>> 132b374931ce7a2b848d49187dfa9c4bdefc3bda
      <a href="#">Generate reports</a>
    </div>
  </header>
  <div id="login_admin" class="content-nogrid content">
    <div class="grid1-employee">
<<<<<<< HEAD
<<<<<<< HEAD
      <%= image_tag ("account_circle.png"), :class => "employee-img", :alt => "user image" %>
=======
      <%= image_tag ("account_circle"), :class => "employee-img", :alt => "user image" %>
>>>>>>> c4cabd3 (backup with devise)
=======
      <%= image_tag ("account_circle"), :class => "employee-img", :alt => "user image" %>
>>>>>>> 132b374931ce7a2b848d49187dfa9c4bdefc3bda
      <div id="form">
        <form action="">
          <input placeholder="Username" type="text">
          <input placeholder="Password" type="password">
          <div class="button-admin">
            <button type="submit">LOG IN</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

