<div class="card ">
	<header id="header">
		<div class="header-content">
		<div class="dot">
			<%= image_tag ("dot_image"), :class => "dot-img" %>
		</div>
		<div class="title">
			<h1>Check in/out</h1>
		</div>
		<%= link_to 'Home', '/' %>
		<%= button_to "Logout", destroy_user_session_path, method: :delete, :class => "devise-btn" %>
		</div>
	</header>
    <center>
    <%= form_for @employee do |f|%>
			<div class="field">
				<%= f.label :name, :class => "label-left" %>
				<%= f.text_field :name, :class => "email_field" %>
			</div>

			<div class="field">
				<%= f.label :position, :class => "label-left" %>
				<%= f.text_field :position, :class => "email_field" %>
			</div>
			<div class="field">
				<%= f.label :email, :class => "label-left" %>
				<%= f.text_field :email, :class => "email_field" %>
			</div>

			<div class="field">
				<%= f.label :active, :class => "label-left" %>
				<%= f.text_field :active, :class => "email_field" %>
			</div>

			<div class="field">
				<%= f.label :branch_id, :class => "label-left" %>
				<%= f.text_field :branch_id, :class => "email_field" %>
			</div>

			<div class="field">
				<%= f.label :created_at, :class => "label-left" %>
				<%= f.text_field :created_at, :class => "email_field" %>
			</div>

			<div class="field">
				<%= f.label :updated_at, :class => "label-left" %>
				<%= f.text_field :updated_at, :class => "email_field" %>
			</div>

			<div class="actions">
				<%= f.submit "Update employee", :class => "submit-btn" %>
			</div>
    <%end%>
</center>
</div>
