<div class="card" >
  <header id="header">
    <div class="header-content">
      <div class="dot">
        <%= image_tag ("dot_image"), :class => "dot-img" %>
      </div>
      <div class="title">
        <h1>Check in/out</h1>
      </div>
      <%= link_to 'Home', '/' %>
      <%= link_to 'Reports', '/' %>
      <%= button_to "Logout", destroy_user_session_path, method: :delete, :class => "devise-btn" %>
      
    </div>
  </header>
  <div class="content-nogrid content">
    <div id="arrow_left"><%=link_to ('<i class="fas fa-chevron-left"></i>').html_safe, pages_branches_path %></div>
    <center>
      <h2 class="title_grid">Employees</h2>
      <div id="table_container">
        <table id="table_employee" class="grid">
          <thead>
            <th>Name</th>
            <th>Position</th>
            <th>#Employee</th>
            <th>E-mail</th>
            <th>Branch</th>
            <th>Active</th>
            <th>Actions</th>
          </thead>
          <tbody>
            <% @employees_list.each do |reg|%>
              <tr class="register">
                <td><%=reg.name %></td>
                <td><%=reg.position %></td>
                <td><%=reg.id %></td>
                <td><%=reg.email %></td>
                <td><%=reg.branch_id %></td>
                <td><%= reg.active == false ? ('<font color="red">False</font>').html_safe : ('<font color="green">True</font>').html_safe %></td>
                <td><%=link_to ('<i class="fas fa-pencil-alt"></i>').html_safe, edit_employee_path(reg.id)%> &nbsp; &nbsp;<%=link_to ('<i id="switch" class="fas fa-toggle-on"></i>').html_safe, reg, method: :delete,data: { confirm: "Deseas desactivar este Empleado?"}  %></td>
              </tr>
            <%end%>
          </tbody>
        </table>
      </div>
      <button id="add_employee" class="buttons-style"> <i class="fas fa-user-plus"></i><%=link_to "ADD EMPLOYEE", pages_employees_new_path%></button>
    </center>
    <div id="arrow_right"><%=link_to ('<i class="fas fa-chevron-right"></i>').html_safe, pages_branches_path %></div>
  </div>
</div>
