<div class="card ">
  <header id="header">
    <div class="header-content">
      <div class="dot">
        <%= image_tag ("dot_image"), :class => "dot-img" %>
      </div>
      <div class="title">
        <h1>Check in/out</h1>
      </div>
      <%= link_to 'Home', '/' %>
    </div>
  </header>
  <%= image_tag ("account_circle"), :id => "employee-img-admi", :alt => "user image" %>
  <h2 class="login_h2" >Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => { :id => 'form'}) do |f| %>
    <div class="field">
      
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "email_field", placeholder: "Email", autocomplete: "off" %>
    </div>

    <div class="field">
      
      <%= f.password_field :password, autocomplete: "current-password", class: "email_field", placeholder: "Password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me, :id => "check" %>
        <%= f.label :remember_me, :class => "rememberme" %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", :class => "submit-btn" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>


