<div class="card">
  <header id="header">
    <div class="header-content">
      <div class="dot">
        <%= image_tag ("dot_image.png"), :class => "dot-img" %>
      </div>
      <div class="title">
        <h1>Check in/out</h1>
      </div>
      <%= link_to 'Home', '/' %>
      <%= link_to 'Reports', '/' %>
      <%= button_to "Logout", destroy_user_session_path, method: :delete, :class => "devise-btn" %>
    </div>
  </header>
  <div class="content-nogrid content">
    <div id="arrow_left"><%=link_to ('<i class="fas fa-chevron-left"></i>').html_safe, pages_employees_path %></div>
    <center>
      <h2 class="title_grid">Branches</h2>
      <div id="table_container">
        <table id="table_branches" class="grid">
          <thead>
            <th>Name</th>
            <th>Address</th>
            <th>Actions</th>
          </thead>
          <%@branches_list.each do |reg|%>
          <tr class="register">
            <td><%= reg.name%></td>
            <td><%= reg.direction%></td>
            <td><center><%=link_to ('<i class="fas fa-pencil-alt"></i>').html_safe, edit_branch_path(reg.id)%></center></td>
          </tr>
          <%end%>
          
        </table>
      </div>
      <button id="add_branch" class="buttons-style"><i class="far fa-building"></i><%=link_to "ADD BRANCH", pages_branches_new_path%></button>
    </center>
    <div id="arrow_right"><%=link_to ('<i class="fas fa-chevron-right"></i>').html_safe, pages_employees_path %></div>
  </div>
</div>
