<div class="card">
  <header id="header">
    <div class="header-content">
      <div class="dot">
        <%= image_tag ("dot_image.png"), :class => "dot-img" %>
      </div>
      <div class="title">
        <h1>Check in/out</h1>
      </div>
      <%= link_to 'Home', '/' %>
      <%= link_to "Admin", "/users/sign_in" %>
      <%if user_signed_in? %>
        <%= button_to "Logout", destroy_user_session_path, method: :delete, :class => "devise-btn" %>
      <%end%>
    </div>
  </header>
  <div class="content-grid content">
    <div class="grid1-employee">
      <%= image_tag ("account_circle.png"), :class => "employee-img", :alt => "user image" %>
      <div id="form">
        <form action="index" >
          <select name="branch" id="branch-select">
            <option value="1">Mexico</option>
            <option value="2">North</option>
            <option value="3">South</option>
            <option value="4">US</option>
            <option value="5">UK</option>
            <option value="6">West</option>
          </select>
          <input name="private_number" type="password" placeholder="Private number">
          <div class="buttons">
            <button type="submit">CHECK IN <i class="fas fa-chevron-up"></i></button>
            <button type="submit">CHECK OUT <i class="fas fa-chevron-down"></i></button>
          </div>
        </form>
      </div>
    </div>
    <div class="grid2-clock">
      <div class="clock-info">
        <span class="month">JAN 2022</span>
        <div class="timer">
          <span id="h" class="clock"></span>
          <span id="m" class="clock"></span>
          <span id="s" class="clock"></span>
        </div>
        <span id="t" class="time"></span>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'timer-script' %>
